$rem: 75;
@function r($px) {
  @return $px / $rem * 1 + rem;
}

@mixin f($font-size) {
  font-size: $font-size + px;

  [data-dpr="2"] & {
    font-size: $font-size * 2 + px;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3 + px;
  }
}

body, html {
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 60, 101, 0.45), rgba(255, 60, 101, 0.34));
}

#container {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#titleBox {
  position: absolute;
  top: 45%;
  left: 50%;
  color: #fff;
  line-height: 1.5;
  transform: translate3d(-50%, -50%, 0);
  font-weight: 400;
  background: rgba(255,255,255,.3);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  &:after {
    display: inline-block;
    content: '';
    background: #fff;
    vertical-align: text-bottom;
    animation: 1.2s blink step-end infinite;
  }
}

@keyframes blink
{
  from, to{opacity:0}50%{opacity:1}
}

@-webkit-keyframes blink
{
  from, to{opacity:0}50%{opacity:1}
}

@media screen and (min-width: 750px) {
  #titleBox {
    width: 430px;
    padding: 40px;
    letter-spacing: 2px;
    font-size: 28px;
    &:after {
      margin: 0 6px;
      width: 3px;
      height: 34px;
    }
  }
}

@media screen and (max-width: 750px) {
  #titleBox {
    width: 65%;
    padding: r(40);
    letter-spacing: r(1);
    @include f(18);
    &:after {
      margin: 0 r(8);
      width: r(3);
      height: r(40);
    }
  }
}

