<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="screen-orientation" content="portrait">
    <title>Happy B-Day</title>
    <!-- build:init -->
    <script src="./../../js/lib/flexible.js"></script>
    <script src="./../../js/lib/zepto1.2.0.js"></script>
    <link rel="stylesheet" href="./../../css/reset.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="./../../css/happy/birthday.css"/>
</head>
<body>
<div id="container">
    <div id="titleBox"></div>
</div>
<script>
    var text = [
        '',
        '',
        '大',
        '大儿童',
        '大儿童:',
        '大儿童:',
        '大儿童:<br/>',
        '大儿童:<br/><br/>',
        '大儿童:<br/><br/>你',
        '大儿童:<br/><br/>你好',
        '大儿童:<br/><br/>你好',
        '大儿童:<br/><br/>你好<br/>',
        '大儿童:<br/><br/>你好<br/><br/>',
        '大儿童:<br/><br/>你好<br/><br/>生日',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>1',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 ',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 ',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 15',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 150',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> ',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/>',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/><br/>',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/><br/>',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/><br/>爱',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/><br/>爱你',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/><br/>爱你',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/><br/>爱你',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/><br/>爱你',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/><br/>爱你❤️',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/><br/>爱你❤️',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/><br/>爱你❤️',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/><br/>爱你❤️',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/><br/>爱你❤️',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/><br/>爱你❤️',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/><br/>爱你❤️',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/><br/>爱你❤️',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/><br/>爱你❤️',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/><br/>爱你❤️',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/><br/>爱你❤️',
        '大儿童:<br/><br/>你好<br/><br/>生日快乐<br/>10年 1500公里<br/>最暖心的还是那句<br/> "我也是"<br/><br/>爱你❤️',
    ];
    var title = document.getElementById('titleBox');
    var time = 0;
    setInterval(function () {
        title.innerHTML = text[time++ % text.length];
    }, 540);
</script>
<script src="./../../js/happy/birthday.js"></script>
</body>
</html>