<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="screen-orientation" content="portrait">
    <title>To Yuner</title>
    <!-- build:init -->
    <script src="./../../js/lib/flexible.js"></script>
    <script src="./../../js/lib/zepto1.2.0.js"></script>
    <link rel="stylesheet" href="./../../css/reset.css">
    <!-- endbuild -->
    <link href='http://fonts.font.im/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./../../css/happy/feng.css"/>
</head>
<body>
<div id="titleBox"></div>
<div class="birthday">
    <div class="container">
       <div class="candle">
            <div class="fire"></div>
            <div class="top"></div>
            <div class="body"></div>
            <div class="bottom"></div>
        </div>

        <div class="top-one">
            <div class="top"></div>
            <div class="side"></div>
            <div class="bottom"></div>
        </div>

        <div class="bottom-one">
            <div class="top"></div>
            <div class="side"></div>
            <div class="bottom">
                <div class="line"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var text = [
        '',
        '',
        'D',
        'De',
        'Dea',
        'Dear',
        'Dear',
        'Dea',
        'De',
        'D',
        '',
        '',
        'L',
        'Lo',
        'Lov',
        'Love',
        'Lovel',
        'Lovely',
        'Lovely ',
        'lovely Y',
        'lovely Yu',
        'lovely Yun',
        'lovely Yune',
        'lovely Yuner',
        'lovely Yuner:',
        'lovely Yuner:<br/>',
        'lovely Yuner:<br/>',
        'lovely Yuner:<br/>H',
        'lovely Yuner:<br/>Ha',
        'lovely Yuner:<br/>Hap',
        'lovely Yuner:<br/>Happ',
        'lovely Yuner:<br/>Happy',
        'lovely Yuner:<br/>Happy ',
        'lovely Yuner:<br/>Happy B',
        'lovely Yuner:<br/>Happy B-',
        'lovely Yuner:<br/>Happy B-D',
        'lovely Yuner:<br/>Happy B-Da',
        'lovely Yuner:<br/>Happy B-Day',
        'lovely Yuner:<br/>Happy B-Day!',
        'lovely Yuner:<br/>Happy B-Day!',
        'lovely Yuner:<br/>Happy B-Day!',
        'lovely Yuner:<br/>Happy B-Day!',
        'lovely Yuner:<br/>Happy B-Day!',
        'lovely Yuner:<br/>Happy B-Day!',
        'lovely Yuner:<br/>Happy B-Day!',
        'lovely Yuner:<br/>Happy B-Day!',
        'lovely Yuner:<br/>Happy B-Day!',
        'lovely Yuner:<br/>Happy B-Day!',
        'lovely Yuner:<br/>Happy B-Day!',
        'lovely Yuner:<br/>Happy B-Day!',
        'lovely Yuner:<br/>Happy B-Day!',
        'lovely Yuner:<br/>Happy B-Day!',
        'lovely Yuner:<br/>Happy B-Day!',
        'lovely Yuner:<br/>Happy B-Day!',
    ];
    var title = document.getElementById('titleBox');
    var time = 0;
    setTimeout(function () {
        $('.container').addClass('on');
    },  (text.length - 14) * 540);
    setInterval(function () {
        title.innerHTML = text[time++ % text.length];
    }, 540);
</script>
</html>