<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="screen-orientation" content="portrait">
    <title>Hello.</title>
    <!-- build:init -->
    <script src="./../../js/lib/flexible.js"></script>
    <script src="./../../js/lib/zepto1.2.0.js"></script>
    <link rel="stylesheet" href="./../../css/reset.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="./../../css/home/index.css"/>
</head>
<body>
<div id="container">
    <canvas></canvas>
    <div id="titleBox">
        <h3>APPIAN·嘉宝</h3>
        <p>An interested in algorithm & stupid girl</p>
        <a href="https://github.com/AppianZ">Github</a>
        <a href="https://juejin.im/user/57c664355bbb5000635314b6">Gold.Xitu</a>
    </div>
    <script src="./../../js/home/index.js"></script>
</div>
</body>
</html>